main {
  width: calc(70%);
  margin-left: 30%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 50px;

  h1,
  p {
    max-width: 375px;
  }
}

@media (max-width: 850px) {
  main {
    margin-left: 0%;
    width: 100%;
    padding-top: 50vh;
    h1,
    p {
      max-width: 100%;
      display: inline; // devient du texte continu
      font-size: inherit; // optionnel : garde la même taille que le texte
      font-weight: normal; // optionnel si tu veux atténuer la différence
    }
  }
}
