// 🎨 Palette base
// Neutral Colors
$color-neutral-100: #0c0c0c;
$color-neutral-200: #111111;
$color-neutral-300: #242424;
$color-neutral-700: #b0b0b0;
$color-black: #000000;
$color-white: #f5f5f5;

// 🧩 Tokens d’usage

$background-primary: $color-neutral-100;
$background-secondary: $color-neutral-200;

$border-color-primary: $color-neutral-300;

$text-primary: $color-white;
$text-secondary: $color-neutral-700;
