header {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 1000;
}
header nav {
  margin-top: 40px;
}
header nav ul {
  display: flex;
  flex-direction: column;
}
header nav ul li,
header nav ul a {
  line-height: 130% !important;
}

@media (max-width: 850px) {
  header {
    position: absolute;
  }
}
.indic-menu {
  margin-bottom: 5px;
}

.archives-btn {
  margin-top: 5px;
}

.infos-fixed-louis {
  display: flex;
  flex-direction: column;
}
.infos-fixed-louis a,
.infos-fixed-louis span {
  width: fit-content;
}

.others-infos-louislebras {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
